<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Welcome!</title>
    <script type="text/javascript">
        var user = sessionStorage.getItem(`user`)

        if (user == null) {
            let name = prompt(`What's your name?`)
            if (name === null) {
                alert(`You didn't enter a name. Please try again.`)
            }

            alert(`Welcome, ${name}!`)

            fetch('/welcome', {
                method: 'POST',
                body: name,
            }).then(response => response.json())
                .then(user => {
                    sessionStorage.setItem('user', JSON.stringify(user))
                })
        } else {
            user = JSON.parse(sessionStorage.getItem('user'))
            console.log(user)
        }
    </script>
</head>

<body>
    <h1>Join A Channel</h1>
    <div th:each="channel : ${channels}">
        <a th:href="@{/channel/{channelId}(channelId=${channel.channelId})}" th:text="${channel.channelName}"></a><br />
    </div>
    <!-- <h2>Create New Channel</h2> -->
    <!-- I want to do this but later when i rework this as another project -->
</body>

</html>